body {
  background-color: #282c34;
  color: white;
}
/* Header */
.mainHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background: rgb(255, 244, 0);
  background: linear-gradient(
    114deg,
    rgba(255, 244, 0, 1) 10%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 20%,
    rgba(255, 244, 0, 1) 20%,
    rgba(255, 244, 0, 1) 30%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 40%,
    rgba(255, 244, 0, 1) 40%,
    rgba(255, 244, 0, 1) 50%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 60%,
    rgba(255, 244, 0, 1) 60%,
    rgba(255, 244, 0, 1) 70%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 1) 80%,
    rgba(255, 244, 0, 1) 80%,
    rgba(255, 244, 0, 1) 90%,
    rgba(0, 0, 0, 1) 90%
  );
}
.mainHead .title {
  margin: 0 2%;
  font-size: 3em;
  text-decoration: none;
  color: red;
  background-color: white;
  padding: 1%;
  font-weight: bold;
  border-radius: 20px;
}
.login {
  font-size: 2rem;
  margin: 0 8%;
  text-decoration: none;
  color: yellow;
}
.addPost {
  font-size: 2rem;
  margin: 0 8%;
  text-decoration: none;
  color: red;
}
header div {
  width: 30%;
}
/* Main Body */
.main {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.postTitle {
  text-align: center;
  font-size: 3rem;
  border-bottom: 5px black solid;
  width: 100%;
}
.postBody {
  width: 50%;
  display: flex;
  flex-flow: column;
}
.post {
  display: flex;
  justify-content: center;
  flex-flow: column;
  border: 2px white solid;
  text-align: center;
  margin: 5%;
}
.post h2 {
  font-size: 3rem;
}
.post p {
  font-size: 2.5rem;
}

.buttons {
  margin: 2%;
  display: flex;
  flex-flow: column;
}

.change button {
  background-color: black;
  color: white;
  border: 1px white solid;
}

.votes {
  margin-bottom: 10%;
}

.upvote,
.downvote {
  margin: 1% 0;
}

.upvote {
  background-color: darkgreen;
}
.downvote {
  background-color: red;
}

/* Login */
.loginBut {
  text-decoration: none;
  padding: 2%;
  background-color: white;
  margin-left: 10%;
  color: black;
}
