body {
  background-color: #282c34;
  color: white;
}
/* Header */
.mainHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: grey;
}
.mainHead .title {
  margin: 0 2%;
  font-size: 3em;
  text-decoration: none;
  color: white;
}
.login {
  font-size: 2rem;
  margin: 0 8%;
  text-decoration: none;
  color: white;
}
header div {
  width: 30%;
}
/* Main Body */
.main {
  display: flex;
  justify-content: center;
}

.post {
  display: flex;
  justify-content: center;
  flex-flow: column;
  border: 2px white solid;
  text-align: center;
  margin: 5%;
}
.post h2 {
  font-size: 2rem;
}

.buttons {
  margin: 2%;
  display: flex;
  flex-flow: column;
}

.change button {
  background-color: black;
  color: white;
  border: 1px white solid;
}

.votes {
  margin-bottom: 10%;
}

.upvote,
.downvote {
  margin: 1% 0;
}

.upvote {
  background-color: darkgreen;
}
.downvote {
  background-color: red;
}

/* Login */
.loginBut {
  text-decoration: none;
  padding: 2%;
  background-color: white;
  margin-left: 10%;
  color: black;
}
