body {
  background-color: #282c34;
  color: white;
}

.mainHead {
  display: flex;
  justify-content: flex-start;
  height: 15vh;
  background-color: grey;
}
.mainHead h1 {
  margin: 1%;
  font-size: 3em;
}

.main {
  display: flex;
  justify-content: center;
}

.post {
  display: flex;
  justify-content: center;
  flex-flow: column;
  border: 2px white solid;
  text-align: center;
  margin: 5%;
}
.post h2 {
  font-size: 2rem;
}

.buttons {
  margin: 2%;
  display: flex;
  flex-flow: column;
}

.change button {
  background-color: black;
  color: white;
  border: 1px white solid;
}

.votes {
  margin-bottom: 10%;
}

.upvote,
.downvote {
  margin: 1% 0;
}

.upvote {
  background-color: darkgreen;
}
.downvote {
  background-color: red;
}
